/* body {
  min-height: 1000px;
} */

.jumbotron {
  padding-top: 6rem;
  background-color: #ebecf0;
}

#projek {
  background-color: #3f4145;
  color: white;
}

section {
  padding-top: 5rem;
}

.card button {
  width: 30%;
  margin-left: 12px;
  margin-bottom: 14px;
  background-color: #3f4145;
}
